a{text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.fix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.dn{display: none;}

body{
    min-width: 100%;
}

.wrap{
    width:100%;
    margin: 0 auto;
    position: relative;
}

/*回到首页，回到顶部，联系我们*/
.back{
    width: 5%;
    min-width: 80px;
    position:fixed;
    display:none;
    bottom:100px;
    right:0;
    z-index: 10000;
}
.backTop{
    background: #48B504;
}
.backTop:hover{
    background:#E50828;
}
.backHome{
    background: #0386B4;
}
.backHome:hover{
    background:#E3EC50;
}
.contactUs{
    background: #FF4878;
}
.contactUs:hover{
    background:#A987FC;
}



.wrap_header,.footer{
    min-width: 1000px;
}
.back>ul>li{
    padding: 10px 5px 10px 5px;

    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
}

.back>ul>li>a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 1.2em;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;

    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}
.back>ul>li>a>img{
    width:50px;
}
.back>ul>li>a>span{
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 3px;
}





.wrap_header{
    /*width:100%;*/
    height:88px;
}
.top1{
    width:100%;
    height:33px;
    background: #529202;
    color: #D8E8C8;
}

.welcome{
    padding:6px 0 6px 0;
}
.welcome>span{
    padding-right:16px;
}

.website{
    padding:6px 0 6px 0;
}
.website>a{
    color: #D8E8C8;
    display: inline-block;
    padding:0 10px 0 5px;
}
.top2{
    height:55px;
    background: #61AE01;
    font-size: 20px;
}
.logo{
    height:55px;
    line-height: 50px;
    margin-left: 0;
}
.logo>a{
    float: left;
    display: inline-block;
    text-decoration: none;
}
.logo>a>p{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1em;
    text-align: center;
    padding-top:10px;
    margin-left: 10px;
}
.logo>a>p>span{
    font-size: 14px;
}
.navbar{
    margin-left: 40px;
    margin-top: -1px;
}
.navbar>li{
    float: left;

}
.navbar>li>a{
    font-size: 1.75rem;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    height:55px;
    line-height:55px;
    padding:0 24px 0 24px;
}
.navbar>li:hover{
/*    border-left:1px dotted #F00056;
    border-right:1px dotted #F00056;*/
    background: #F00056;
    cursor: pointer;
}

/*****轮播图*****/
.slider_list{
    margin:0 auto;
    overflow: hidden;
    position: relative;
    top:-21px;
}
.slider>li{
    width:100%;
}
.slider>li>a>img{
    width:100%;
}

/*向左向右*/
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: #000000;
    top: 50%;
    left: 0;
    opacity: 0.6;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/themes.gif") no-repeat left top;
    margin-top: -30px;
    display:none;
}
.slider_list:hover .callbacks_nav{
    display:block;
}

.callbacks_nav:active {
    opacity: 1.0;
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

/*小圆点*/
.callbacks_tabs.callbacks1_tabs{
    width:60px;
    position:relative;
    z-index:1000;
    margin:0 auto;
    top:-25px;
}
.callbacks_tabs.callbacks1_tabs li{
    display:inline-block;
    width:10px;
    height:10px;
    margin:5px;
    /*padding-left:12px;*/
    border-radius:10px;
    border:2px solid #CCCCCC;
    position:relative;
}
.callbacks_tabs.callbacks1_tabs li a{
    display:inline-block;
    width:10px;
    height:10px;
   /* padding-left:12px;*/
    border-radius:10px;
    position:absolute;
    top:-2px;
    left:-2px;
    z-index:1000;
    color:rgba(100,200,300,0);
    color:transparent;
}
.callbacks_tabs.callbacks1_tabs li.callbacks_here a{
    background: #CCCCCC;
}

/*分隔的禾苗*/
.divide>img{
    width:100%;
    padding-bottom: 50px;
}


/*产品*/
.pro_list{
    padding-left: 4%;
}
.pro_list>li{
    width:16%;
    float: left;
    padding:0 22px 0 22px;
    position: relative;
}
.pro_list>li>a{
    width:100%;
    display: block;
    text-decoration: none;
    color: #82858C;
}
.pro_list>li>a>img{
    width:100%;
}
.pro_list>li>a>p{
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    left:0px;
}

/*基地*/
.qb_title{
    text-align: center;
    padding: 110px 0 20px 0;
}
.qb_title>span{
    display: block;
    background: #CCCCCC;
    width:40%;
    height:1px;
    position: relative;
    top:25px;
}
.qb_title>h5{
    font-size: 30px;
    width:200px;
    margin:0 auto;
    padding-bottom: 4px;
}
.qb_title>a{
    text-decoration: none;
    color: #61AE01;
}

.quality_base>ul>li{
    float: left;
    width:20%;
    border-left: 1px solid #F6F6F6;
    position: relative;
}
.quality_base>ul>li:first-child{
    border-left-width: 0;
}
.quality_base>ul>li>a{
        display: block;
    /* overflow: hidden;*/
    width:100%;
    height:230px;
    padding:10% 0 15% 12%;
    margin:0 auto;
    text-decoration: none;
    color: #82858C;
}
.quality_base>ul>li>a>img{
    width:85%;
    height:94px;
    margin:0 auto;
}
.quality_base>ul>li>a>p{
    width: 90%;
    font-family: 黑体;
    font-size: 18px;
    margin-top: 30px;
    position: absolute;
    left:7%;
    line-height: 1.2em;
}

.quality_base .star{
    padding-top: 40px;
}
.quality_base .star span{
    display: inline-block;
    padding-bottom: 0;
}
.quality_base>ul>li>a>p>img{
    width:40%;
    padding-right: 5px;
}


/*地图*/
.map_title{
    text-align: center;
    padding: 60px 0 27px 0;
}
.map_title>span{
    display: block;
    background: #CCCCCC;
    width:32%;
    height:1px;
    position: relative;
    top:25px;
}
.map_title>h5{
    font-size: 30px;
    width:400px;
    margin:0 auto;
    padding-bottom: 4px;
}
.map_title>p{
    color: #ABABAB;
    font-size: 18px;
}
.cn_map{
    width:960px;
    margin:0 auto;
    position: relative;
    padding-bottom: 30px;
}
.cn_map>img{
    width: 100%;
}
.cn_map>p>img{
    width: 45%;
    padding-left: 10px;
}

.cn_map>p>span{
    display: block;
    margin:0 auto;
}

.cn_map .sheng_position{
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 黑体;
    color: #656663;
    text-align: center;
}
.cn_map .jiangsu{
    position: absolute;
    top:430px;
    left:772px;
}
.cn_map .shandong{
    position: absolute;
    top: 360px;
    left:725px;
}
.cn_map .shanxi{
    position: absolute;
    top: 350px;
    left:620px;
}
.cn_map .yunnan{
    position: absolute;
    top: 630px;
    left:420px;
}
.cn_map .qinghai{
    position: absolute;
    top: 380px;
    left:330px;
}
.cn_map .neimenggu{
    position: absolute;
    top: 280px;
    left:550px;
}


/*页脚*/
.footer{
    color: #FFFFFF;
}
.contact{
    height:158px;
    background: #5CA702;
}
.contact>.topAndFooterWidth>ul{
    width: 600px;
    padding-top:15px;
}
.contact>.topAndFooterWidth>ul>li{
    font-size: 18px;
    height:30px;
}
.erweima{
    width: 110px;
    margin-top: 15px;
    text-align: center;
}
.erweima>img{
    border:5px solid #FFFFFF;
}
.erweima>p{
    padding-top: 5px;
    line-height: 1em;
}
.record{
    background: #529102;
    text-align: center;
    height:40px;
    line-height: 40px;
}


/*各功能部分的层*/
/*
 * products.html中的类.qmy_ad,.six_pros
*/

.topAndFooterWidth, .slider_list, .divide, .products, .quality_base, .map, .qmy_banner_on, .six_pros, .pro_data,.tb,.ad {
    width: 80%;
    min-width: 1000px;
    margin: 0 auto;
    position: relative;
}




